<ion-header>
  <ion-toolbar>
    <ion-title>6. Current Situation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <p>I received my offical certification from the Bethel School of Technology in July of 2020! I am a certified Software Developer. It was such a surreal moment when I opened it up in my email inbox.  All that hard work and persistence has paid off. </p>

  <p>I am enjoying the rest of the summer. There are many ideas for projects that I will be working on.  My website portfolio was top priority and that is up and running.</p>

  <div class="chapter-images">
    <ion-card class="code-card">
      <img src="/assets/embracestorm.jpg" alt="" />
    </ion-card>
  </div>

  <p>I am very excited for the future. I am at peace and not at all worried about the future. I have an amazing captain steering my ship.  So thankful for all He has done, is doing and is going to do. To God be all the glory, honor and praise.</p>
  <p class="pagenumber">Page 6</p>
</ion-content>
<ion-item>
  <a class="page-links" routerLink="/tabs/tab7" routerLinkActive="active" slot="start">Previous Page</a>
  <!-- <ion-button slot="start" size="small" type="submit" fill="clear"
    href="/tabs/tab7">Previous Page</ion-button> -->
</ion-item>