<ion-header>
  <ion-toolbar>
    <ion-title>3. Struggle Within</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>I always felt pressure from my family to do well in school.  I was told my future depended upon it. I don't disagree with this because I do believe that education is important.  If there is one thing I would change in my younger years, it would be that I pursue a career I was passionate about rather than pursuing something to please someone else and make them proud or something that society says is socially acceptable, where others will see me as successful.</p>

  <p>I went to college right after High School.  I was studying Premedicine at Penn State University.  Looking back, I chose this path because I really wanted to make my father proud. I wanted to be respected and successful in the eyes of society.  I did love Biology and all the courses I was taking so it wasn't too far fetched but I realize now that I wasn't pursing something that I was truly passionate about.  I could be a doctor right now with a successful practice but I chose to not continue down that path becuase I knew in my heart that I wouldn't truly be happy and would only be doing it for the money and to make others proud.</p>

  <p>I decided to set out and find a career that I was truly passionate about.  I wanted to pursue something that I loved, came naturally to me, and that I would never have to work a day in my life.  I didn't want to do something just for the money.  You can tell those people who chose their career path just for the money, they are usually miserable and can't wait to be off of work.  </p>

  <p>I had many different jobs, many things I enjoyed doing and was good at. I switched career paths many times. I went back to school, completed all the prerequisites for a nursing program and decided once again not to continue down that path. I could do it but I would be miserable.  The truth was I really didn't know what I wanted to do.</p>

  <p class="pagenumber">Page 3</p>
</ion-content>
<ion-item>
  <a class="page-links" routerLink="/tabs/tab6" routerLinkActive="active" slot="end">Next Page</a>
  <a class="page-links" routerLink="/tabs/tab4" routerLinkActive="active" slot="start">Previous Page</a>
  <!-- <ion-button slot="start" size="small" type="submit" fill="clear" href="/tabs/tab4">Previous Page</ion-button>
  <ion-button slot="end" size="small" type="submit" fill="clear" href="/tabs/tab6">Next Page</ion-button> -->
</ion-item>
