<ion-header>
  <ion-toolbar>
    <ion-title>3. The Struggle Within</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>Life at home was very challenging. From the outside looking in one would see a happily married couple with two bright children.  Behind the closed doors of our home it was a completely different story.  The challenge was the very tense atmosphere of my home.  I was always walking on eggshells and there was a lot of emotional abuse. I always felt pressure from my family to do well in school.  I was told my future depended upon it. I don't disagree with this becuase I do believe that education is important.  If there is one thing I would change in my younger years, it would be that I pursue a career I was passionate about rather than pursuing something to please someone else and make them proud or something that society says is socially acceptable and where others will see me as successful.</p>

  <p>I went to college right after High School.  I was studying Premedicine at Penn State University.  Looking back, I chose this path because I really wanted to make my father proud. I wanted to be respected and successful in the eyes of society.  I did love Biology and all the courses I was taking so it wasn't too far fetched but I realize now that I wasn't pursing something that I was truly passionate about.  I could be a doctor right now with a successful practice but I chose to not continue down that path becuase I knew in my heart that I wouldn't truly be happy and would only be doing it for the money and to make others proud.</p>

  <p>I decided to set out and find a career that I was truly passionate about.  I wanted to pursue something that I loved, came naturally to me and that I would never do it just for the money.  I desired to do something that I loved so much it would feel like I never had to work a day in my life.  I had many different jobs, many things I enjoyed doing and was good at.  I switched career paths many times.</p>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut aspernatur provident temporibus eum minima nobis voluptatum similique recusandae maiores, repudiandae neque, iure nulla dolorum vitae eveniet modi, sapiente voluptatem aperiam!</p>

  <p class="pagenumber">Page 3</p>
</ion-content>
<ion-item>
  <a class="page-links" routerLink="/tabs/tab6" routerLinkActive="active" slot="end">Next Page</a>
  <a class="page-links" routerLink="/tabs/tab4" routerLinkActive="active" slot="start">Previous Page</a>
  <!-- <ion-button slot="start" size="small" type="submit" fill="clear" href="/tabs/tab4">Previous Page</ion-button>
  <ion-button slot="end" size="small" type="submit" fill="clear" href="/tabs/tab6">Next Page</ion-button> -->
</ion-item>
