<ion-header>
  <ion-toolbar>
    <ion-title>2: Battle At Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto corrupti, quidem, doloribus vel nobis dolor non officiis pariatur laborum neque dolorem ratione esse quia sit dicta accusantium sed sapiente fuga.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam cumque, sunt ex quos voluptatem ad tenetur quaerat? Architecto explicabo perspiciatis molestiae distinctio voluptates eaque autem. Fugiat doloribus voluptas blanditiis unde. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis veritatis totam corrupti odit ab eos, eaque aut vel eum impedit vitae aperiam optio, nesciunt maxime nam repudiandae temporibus! Qui, enim.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam qui architecto exercitationem quisquam, magnam autem suscipit, ipsa ex illum commodi aspernatur dicta pariatur reprehenderit tempore quas quod reiciendis quidem optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati tempora, dolores accusamus accusantium nisi recusandae praesentium quo expedita odio natus eos, dicta molestias illum modi animi voluptates magni? Quia, iste! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, magni ea dicta inventore beatae molestiae soluta blanditiis tempore, aliquam, praesentium nisi iure? Consequatur debitis itaque placeat facere, expedita numquam nemo. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem quasi ad repellendus, iure mollitia quas vero atque repudiandae maiores officia. Quod dolore omnis deserunt voluptas amet harum in placeat officiis?</p>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut aspernatur provident temporibus eum minima nobis voluptatum similique recusandae maiores, repudiandae neque, iure nulla dolorum vitae eveniet modi, sapiente voluptatem aperiam!</p>


  <p class="pagenumber"> Page 2 </p> 
</ion-content>
<ion-item>
  <ion-button slot="start" size="small" type="submit" fill="clear" href="/tabs/tab3">Previous Page</ion-button>
  <ion-button slot="end" size="small" type="submit" fill="clear" href="/tabs/tab5">Next Page</ion-button>
</ion-item>