<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 class="booktitle">Learning To Code</h1>
  <h5 class="author">By Lindsey Urquhart</h5>
  <ion-card class="welcome-card">
    <a routerLink="/tabs/tab2"><img class ="responsive" src="/assets/journey.jpg" alt="" /></a>
  </ion-card>

</ion-content>



<ion-item>
  <ion-button slot="end" size="small" fill="clear" type="submit" href="/tabs/tab2">Next Page</ion-button>
</ion-item>

