<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      1: Humble Beginnings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>In my younger years my father was always telling me that I should learn how to use the computer.  I have to admit at first I wasn't very interested at all.  These were the days when kids came home from school, dropped their bags off by the front door and ran back outside to meet up with all of the other neighborhood kids. The days of street hockey, manhunt, basketball, soccer, bike riding, street tag, rollerblading, Miss Mary Mack all dressed in black, and any other activity we could think of or desired to do that day.</p>

  <div class="chapter-images">
    <ion-card class="code-card">
      <img class="responsive" src="/assets/grey.jfif" alt="" />
    </ion-card>
  </div>

  <p>We always had the lastest technological devices in our home.  As I got older my interest in technology really began to develop. I remember our old Gateway PC and the sound of the dial up as I was trying to connect Aol Instant Messenger to the internet.  I used to play Reader Rabbit and learned to type with Mavis Beacon.  The days of floppy disks before cds, dvds and usb drives. I remember my Nextel cell phone with the click to talk like a walkie talkie. What a long way technology has come! Now our cell phones are basically computers in our hands. I am so impressed with the rapid development with newer, faster and more improved technologies constantly being developed and delivered to users.</p>


  <p class="pagenumber">Page 1</p>
</ion-content>
<ion-item>
  <a class="page-links" routerLink="/tabs/tab4" routerLinkActive="active" slot="end">Next Page</a>
  <a class="page-links" routerLink="/tabs/tab2" routerLinkActive="active" slot="start">Previous Page</a>
  <!-- <ion-button slot="start" size="small" type="submit" fill="clear"
    href="/tabs/tab2">Previous Page</ion-button>
  <ion-button slot="end" size="small" type="submit" fill="clear"
    href="/tabs/tab4">Next Page</ion-button> -->
</ion-item>
