<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      1: Humble Beginnings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>It all began.....</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam cumque,
    sunt ex quos voluptatem ad tenetur quaerat? Architecto explicabo
    perspiciatis molestiae distinctio voluptates eaque autem. Fugiat doloribus
    voluptas blanditiis unde. Lorem ipsum dolor, sit amet consectetur
    adipisicing elit. Corporis veritatis totam corrupti odit ab eos, eaque aut
    vel eum impedit vitae aperiam optio, nesciunt maxime nam repudiandae
    temporibus! Qui, enim.</p>

  <div class="chapter-images">
    <ion-card class="code-card">
      <img class="responsive" src="/assets/grey.jfif" alt="" />
    </ion-card>
  </div>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut aspernatur
    provident temporibus eum minima nobis voluptatum similique recusandae
    maiores, repudiandae neque, iure nulla dolorum vitae eveniet modi, sapiente
    voluptatem aperiam!</p>


  <p class="pagenumber">Page 1</p>
</ion-content>
<ion-item>
  <ion-button slot="start" size="small" type="submit" fill="clear"
    href="/tabs/tab2">Previous Page</ion-button>
  <ion-button slot="end" size="small" type="submit" fill="clear"
    href="/tabs/tab4">Next Page</ion-button>
</ion-item>
