<ion-header>
  <ion-toolbar>
    <ion-title>5. Road Less Traveled</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto corrupti, quidem, doloribus vel nobis dolor non officiis pariatur laborum neque dolorem ratione esse quia sit dicta accusantium sed sapiente fuga.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam cumque, sunt ex quos voluptatem ad tenetur quaerat? Architecto explicabo perspiciatis molestiae distinctio voluptates eaque autem. Fugiat doloribus voluptas blanditiis unde. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis veritatis totam corrupti odit ab eos, eaque aut vel eum impedit vitae aperiam optio, nesciunt maxime nam repudiandae temporibus! Qui, enim.</p>

  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus fugiat magnam beatae dolorum, ab eaque vitae natus quasi iste perspiciatis quidem qui repellat recusandae itaque dignissimos voluptatum magni at inventore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam hic, rerum voluptatum dolor repellat optio eveniet atque molestias beatae fugiat quam iusto veniam fugit itaque corporis minus accusantium nisi enim.</p>

  <ion-card class="code-card">
    <img src="/assets/road.jpg" alt="" />
  </ion-card>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut aspernatur provident temporibus eum minima nobis voluptatum similique recusandae maiores, repudiandae neque, iure nulla dolorum vitae eveniet modi, sapiente voluptatem aperiam!</p>
  <p class="pagenumber">Page 5</p>
</ion-content>
<ion-item>
  <ion-button slot="start" size="small" type="submit" fill="clear" href="/tabs/tab6">Previous Page</ion-button>
  <ion-button slot="end" size="small" type="submit" fill="clear" href="/tabs/tab8">Next Page</ion-button>
</ion-item>
