<ion-header>
  <ion-toolbar>
    <ion-title>5. Road Less Traveled</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <p>Everything went smoothly during my application process. I was even blessed with a sizeable grant from the Federal Government that paid half of my tuition.</p>

<p>The next thing I knew, a new chapter of my life began. I was thrilled to learn that I had finally found my passion. I officially became a student of the Bethel School of Technology in October 2019! I chose JavaScript as my coding language. I loved every single second of school. It was very challenging and there were moments when I questioned if I was cut out to be a software developer, but I never gave up.  It never felt like work. Every homework assignment and project was so exciting to me.</p>

  <div class="chapter-images">
    <ion-card class="code-card">
      <img src="/assets/road.jpg" alt="" />
    </ion-card>
  </div>

  <p>Not only did I learn how to build a web application from start to deployment, I also learned how to think like a web developer. I devoured every nugget of information that was put before me. Another part of my curriculum was my spiritual growth.  Bethel didn't just want me to excel as a programer they wanted me to flourish spiritually.  I was taught in my Kingdom Core Foundations class who I am in Christ.  Once a month I had meetings with my spiritual mentor. During those meetings I began to catch a glimpse of who God created me to be. Raising up reflections of Christ's light in the tech field.</p>

  <p>When I chose to follow Jesus 11 years ago I never imagined the roads I would travel down with Him. "Two roads diverged in a wood, and I - I took the one less traveled by, and that has made all the difference." - Robert Frost</p>
  <p class="pagenumber">Page 5</p>
</ion-content>
<ion-item>
  <a class="page-links" routerLink="/tabs/tab8" routerLinkActive="active" slot="end">Next Page</a>
  <a class="page-links" routerLink="/tabs/tab6" routerLinkActive="active" slot="start">Previous Page</a>
  <!-- <ion-button slot="start" size="small" type="submit" fill="clear"
    href="/tabs/tab6">Previous Page</ion-button>
  <ion-button slot="end" size="small" type="submit" fill="clear"
    href="/tabs/tab8">Next Page</ion-button> -->
</ion-item>
