<ion-header>
  <ion-toolbar>
    <ion-title>4. Hope</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>After bouncing from one job to another, exploring different career paths, I was reminded of my interest and love of technology that had developed in my younger years.  I was the go to person in our home whenever there was something that needed to be fixed on a computer or a new technological device that someone bought and needed to figure out how to use it.  I enjoyed doing those things and learning about the computer and computer software. </p>

  <p>I decided before enrolling in yet another program at school that I was going to begin to study on my own. I wanted to explore the areas of technology that interested me to see if it was really something that I was passionate about.  So I found myself drawn into the world of code. The "command line" intrigued me.  I felt like it was a different world where only really techy people knew how to navigate it and understood the language. I could sit there for hours and study.  I would take notes and write down each command with a brief summary of what it did.  Then I would practice by executing each of the commands one by one. I also spoke to people who worked in the tech field.  I would ask them questions about what they did and what they loved and disliked about their jobs.</p>

  <p>I explored batch commands, programmed my computer to greet me when I turned it on, and watched Star Wars A New Hope on the command line, a secret trick I had found.  I went to You Tube University and would watch video after video on topic after topic.  On my older laptops that no longer worked efficiently with out dated editions of Windows, I researched how to change my operating system.  I started learning about Linux and how to create a bootable usb drive from an iso image.  I explored many different distributions of Linux and began learning how to use the terminal and the different commands.  I wanted to learn about the different languages that computers spoke.  I learned about the best hard drives and memory.  I wanted to learn it all. I did this on pretty much a daily basis for about 3 years.</p>


  <div class="chapter-images">
    <ion-card class="code-card">
      <img src="/assets/Monitors.jpg" alt="" />
    </ion-card>
  </div>

  <p>One day, a very good friend of mine sent me a link to a coding Boot Camp program. The school was called The Bethel School of Technology and I loved the fact that they were Christian. Their Full Stack Web Development program really popped out at me because it covered a wide range of topics and technologies and I would get to learn a coding language!  I prayed about it and about a month later I was applying to the school. It was time.</p>

  
  <p class="pagenumber">Page 4</p>
</ion-content>
<ion-item>
  <a class="page-links" routerLink="/tabs/tab7" routerLinkActive="active" slot="end">Next Page</a>
  <a class="page-links" routerLink="/tabs/tab5" routerLinkActive="active" slot="start">Previous Page</a>
  <!-- <ion-button slot="start" size="small" type="submit" fill="clear"
    href="/tabs/tab5">Previous Page</ion-button>
  <ion-button slot="end" size="small" type="submit" fill="clear"
    href="/tabs/tab7">Next Page</ion-button> -->
</ion-item>