<ion-header>
  <ion-toolbar>
    <ion-title>4. Hope</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto corrupti,
    quidem, doloribus vel nobis dolor non officiis pariatur laborum neque
    dolorem ratione esse quia sit dicta accusantium sed sapiente fuga.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam cumque,
    sunt ex quos voluptatem ad tenetur quaerat? Architecto explicabo
    perspiciatis molestiae distinctio voluptates eaque autem. Fugiat doloribus
    voluptas blanditiis unde. Lorem ipsum dolor, sit amet consectetur
    adipisicing elit. Corporis veritatis totam corrupti odit ab eos, eaque aut
    vel eum impedit vitae aperiam optio, nesciunt maxime nam repudiandae
    temporibus! Qui, enim. Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Consequuntur repellat rem omnis nisi velit, possimus voluptatibus
    beatae recusandae, placeat, numquam expedita sequi perspiciatis a reiciendis
    sint quasi. Saepe, dolor numquam.</p>

  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet, quas?
    Blanditiis totam expedita rerum nisi dolore quaerat quam iure assumenda
    culpa cumque, ullam, facere excepturi quo? Reprehenderit placeat veniam
    beatae! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
    cum facere, aperiam impedit similique officia saepe veniam eius nostrum esse
    id dolorem nam exercitationem atque earum eaque tempore ipsa hic. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Nam autem iure
    exercitationem labore in voluptates, dolores quod. Excepturi nobis placeat,
    possimus exercitationem aut perspiciatis delectus, beatae reiciendis
    reprehenderit suscipit illo?</p>

  <div class="chapter-images">
    <ion-card class="code-card">
      <img src="/assets/Monitors.jpg" alt="" />
    </ion-card>
  </div>

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut aspernatur
    provident temporibus eum minima nobis voluptatum similique recusandae
    maiores, repudiandae neque, iure nulla dolorum vitae eveniet modi, sapiente
    voluptatem aperiam!</p>
  <p class="pagenumber">Page 4</p>
</ion-content>
<ion-item>
  <ion-button slot="start" size="small" type="submit" fill="clear"
    href="/tabs/tab5">Previous Page</ion-button>
  <ion-button slot="end" size="small" type="submit" fill="clear"
    href="/tabs/tab7">Next Page</ion-button>
</ion-item>